<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand">Random Gym Exercise</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="./">Home</a>
                <a class="nav-link active" aria-current="page" href="/showAll">All Exercises</a>
                <div class="dropdown">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                      Admin
                    </button>
                    <form class="dropdown-menu p-4" action="/admin" method="post">
                      <div class="mb-3">
                        <label for="Email" class="form-label" >Email address</label>
                        <input type="email" class="form-control" id="Email" placeholder="email@example.com" name="Email">
                      </div>
                      <div class="mb-3">
                        <label for="Password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="Password" placeholder="Password" name="Password">
                      </div>
                      <div class="mb-3">
                      </div>
                      <button type="submit" class="btn btn-primary">Log in</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</nav>

