<%-include('partials/header')%>

    <title>Random Gym Exercise</title>
    </head>

    <body class=" bg-dark text-light">
        <%-include('partials/navbar')%>
            <div class="container-fluid container text-center p-5 mb-2">
                <h1>The exercise was succefully added to the DB!</h1>
                <a class="btn btn-primary" href="./createExercise" role="button">Another Exercise</a>
            </div>
<%-include('partials/footer')%>