<%-include('partials/header')%>

  <title>Create New Exercise</title>
  </head>

  <body class=" bg-dark text-light">
    <%-include('partials/navbar')%>
      <div class="container-fluid container text-center p-5 mb-2 w-75">
        <h1 class="mb-5">Create New Exercise</h1>
        <form action="/createExercise" method="POST">
          <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input id="name" class="form-control" type="text" name="name" aria-label="default input example">
          </div>
          <div class="mb-3">
            <label for="Muscle" class="form-label">Muscle</label>
            <input id="muscle" class="form-control" type="text" name="muscle" placeholder="Enter the main muscle"
              aria-label="default input example">
          </div>
          <div class="mb-3">
            <label for="Difficulty" class="form-label">Difficulty</label>
            <input id="difficulty" class="form-control" type="text" name="difficulty" placeholder="between 1 to 3"
              aria-label="default input example">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Description</label>
            <textarea id="description" class="form-control" id="exampleFormControlTextarea1" rows="3"
              name="description"></textarea>
          </div>
          <button type="submit" class="btn btn-primary m-3">Create</button>
        </form>
      </div>


<%-include('partials/footer')%>