<%-include('partials/header')%>
<body class=" bg-dark text-light"">
    <%-include('partials/navbar')%>
    <div class="container-fluid pt-5 background">
        <h1 class="p-3 text-center f-size">Oops! We will check it soon.</h1>
        <img class="img-fluid rounded" src="/errorPage.jpg" alt="">
    </div>

<%-include('partials/footer')%>

