<%-include('partials/header')%>
<body class=" bg-dark text-light" style="background-image:url(/invalidImg.jpg) ;">
    <%-include('partials/navbar')%>
    <div class="container-fluid pt-5">
    </div>

<%-include('partials/footer')%>

