<%-include('partials/header')%>

    <body>
        <%-include('partials/navbar')%>
                <div class="container-fluid text-light p-5 background d-flex" id="main">
                    <div class="text-center m-auto">
                        <h1 class="h1 mb-4 f-size" id="mainHeader">Diversify Your Training With <br> A <span style="color: #019AF7;">Random Exercise</span></h1>
                        <a class="btn btn-primary mt-5 p-2" href="/muscles" role="button">STRAT NOW</a>
                    </div>
                </div>
    <%-include('partials/footer')%>