<%-include('partials/header')%>

    <title>Random Gym Exercise</title>
</head>
<body class=" bg-dark text-light">
    <%-include('partials/navbar')%>
    <div class="container-fluid container text-center p-5">
    <h1 class="m-5">Choose The Muscle You Want To Work On!</h1>
    <form action="/" method="post" name="muscle">
        <select class="form-select mb-4" id="muscle" aria-label="Example select with button addon" name="muscle">
            <option selected disabled>Select a muscle from the list</option>
            <option value="Legs">Legs</option>
            <option value="Back">Back</option>
            <option value="Chest">Chest</option>
            <option value="Shoulders">Shoulders</option>
            <option value="Biceps">Biceps</option>
            <option value="Triceps">Triceps</option>
        </select>
        <button class="btn btn-primary m-3 p-3">Give Me Exercise</button>
    </form>
    </div>
<%-include('partials/footer')%>
