<%-include('partials/header')%>
    <title>Invalid Details</title>
    </head>

    <body class=" bg-dark text-light">
        <%-include('partials/navbar')%>
        <div class="container-fluid container text-center p-5">
            <h1 class="mb-4">Oops! Something went wrong.</h1>
            <h6 >Check the email and the password again</h6>
            <img src="invalidImg.jpg" class="img-fluid mt-5 rounded">
        </div>
<%-include('partials/footer')%>