<%-include('partials/header')%>
    <title>Invalid Details</title>
    </head>

    <body class=" bg-dark text-light">
        <%-include('partials/navbar')%>
        <div class="container-fluid container text-center p-5">
            <h1 class="mb-4">OOps! Some detail is incorrect.</h1>
        </div>
<%-include('partials/footer')%>