<%-include('partials/header')%>
    <title>Invalid Details</title>
    <link rel="icon" href="/dumbbell_icon.png" type="image/icon type">
    </head>

    <body class=" bg-dark text-light">
        <%-include('partials/navbar')%>
        <div class="container-fluid">
            <div class="align-items-center text-light p-5">
                <div class=" container-fluid container text-center p-5">
                    <h1 class="m-5">Oops! Something went wrong.</h1>
                    <h6>Check the email and the password again</h6>
                    <img src="invalidImg.jpg" class="img-fluid mt-5 rounded-pill">
                </div>
            </div>
        </div>
<%-include('partials/footer')%>